# Infrastructure Ports & Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ecommerce

# JWT Secret
JWT_SECRET=super_secret_jwt_key
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key

# Third party integrations
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
STRIPE_SECRET_KEY=sk_test_placeholder
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=cloudinary_placeholder
CLOUDINARY_API_KEY=key_placeholder
CLOUDINARY_API_SECRET=secret_placeholder
